/* Mainpage_style.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

.sidebar {
    width: 80px;
    height: 100vh;
    background-color: #f4d5fd;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    position: fixed;
}

.icon {
    margin-bottom: 20px; /* General spacing between icons */
}

.icon.home {
    margin-bottom: 40px; /* Extra spacing for the home icon */
}

.icon a {
    display: block;
    text-align: center; /* Center align text under icons */
}

.icon img {
    width: 40px;
    height: 40px;
}

.icon a {
    text-decoration: none;
}

.icon h3 {
    margin: 5px 0; /* Adjust margin for h3 text under icons */
    font-size: 14px; /* Adjust font size as needed */
    color: #fff; /* Text color */
}

.main-content {
    margin-left: 80px; /* Adjust margin to match sidebar width */
    padding: 20px;
    flex: 1;
}
